html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #202021;
    height: 2000px;
}


/* Header starts */

.header {
    width: 100%;
    height: 100px;
    background-color: #696868;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;

}
.logo {
    width: 100%;
    height: 100%;
}
.div-logo {
    max-width: 100%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation {
    max-width: 100%;
    width: 800px;
}
.nav-ul {
    display: flex;
}
.nav-ul.toggle {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #212121;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.nav-ul li {
    margin-right: 50px;
}
.nav-ul li:last-child {
    margin-right: 0;
}
.nav-ul li a {
    color: #202021;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    transition-property: all;
    transition-timing-function: linear;
    transition-delay: 0.1ms;
    transition-duration: 0.2s;
}
.nav-a:hover {
    color: #6603fc;
    font-weight: 900;
    font-size: 22px;
    border-bottom: solid 1px;
}

.icons {
    max-width: 100%;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burgerBar {
    max-width: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.b-line1 {
    width: 100%;
    height: 2px;
    background-color: black;
}
.b-line2 {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.b-line3 {
    width: 100%;
    height: 2px;
    background-color: black;
}
.icons div {
    cursor: pointer;
}

.search-div {
    max-width: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-font, .cart-font {
    font-size: 25px;
    transition: all linear 0.1s 0.1s;
}
.search-font:hover {
    color: #6603fc;
}
.cart-font:hover {
    color: #6603fc;
}
.cart-div {
    margin-right: 20px;
    margin-left: 20px;
}
#burgerBtn {
    display: none;
}
.forms {
    position: absolute;
    top: 100px; right: 15%;
    max-width: 100%;
    width: 300px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    display: none;
}
.search-form input {
    height: 100%;
    width: 100%;
    font-size: 18px;
    color: #202021;
    padding: 8px;
    text-transform: none;
    outline: none;
}
.search-form label {
    font-size: 28px;

}
.cart-items-container {
    position: absolute;
    top: 230px; right: 20px;
    height: calc(100vh - 7.5rem);
    max-width: 100%;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 0 1.5rem;
    z-index: 998;
    display: none;
}




/* Header Ends */